<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group.yf.dao.AdmissionScoreMapper">
	
	<select id="selectEnsureCollege" resultType="group.yf.pojo.College">
		SELECT c.* FROM admissionScore s,college c
		WHERE c.id=s.collegeId AND s.ensureHigh <![CDATA[<=]]> #{ranking} AND s.ensureLow <![CDATA[>=]]> #{ranking}
		AND c.province=#{localProvince} AND s.province=#{targetProvince} AND s.science=#{science}
		ORDER BY s.ensureLow-#{ranking} DESC
		LIMIT #{limitNum}
	</select>
	
	<select id="selectStablityCollege" resultType="group.yf.pojo.College">
		SELECT c.* FROM admissionScore s,college c
		WHERE c.id=s.collegeId AND s.stablityHigh <![CDATA[<=]]> #{ranking} AND s.stablityLow <![CDATA[>=]]> #{ranking}
		AND c.province=#{localProvince} AND s.province=#{targetProvince} AND s.science=#{science}
		ORDER BY s.stablityHigh DESC
		LIMIT #{limitNum}
	</select>
	
	<select id="selectSprintCollege" resultType="group.yf.pojo.College">
		SELECT c.* FROM admissionScore s,college c
		WHERE c.id=s.collegeId AND s.sprintHigh <![CDATA[<=]]> #{ranking} AND s.sprintLow <![CDATA[>=]]> #{ranking}
		AND c.province=#{localProvince} AND s.province=#{targetProvince} AND s.science=#{science}
		ORDER BY #{ranking}-s.sprintHigh
		LIMIT #{limitNum}
	</select>
	

</mapper>